<h1>Index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>
 
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= job.user.firstName %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.userType == true %>
    <%= link_to 'New Job', new_job_path %>
<% end %>