<h1>F.A.Q</h1>

<!-- Question List -->
<div id="accordion">

    <!-- Question 1 -->
    <div class="card">
        <button class="btn card-header" data-toggle="collapse" id="headingOne" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0 text-info text-decoration-none text-left"> What is love? </h5>
        </button>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <i>Baby don't hurt me, no more</i>
            </div>
        </div>
    </div>

    
</div>
