<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <h1><%= current_user.firstName %></h1>
  <h1><%= current_user.email %></h1>
  <% if current_user.userType %>
    <h1>True</h1>
    <% current_user.userType %> 
  <% else %>
    <h1>False</h1>
    <% current_user.userType %> 
  <% end %>
  <div class="modal-body row">
   <div class="col-md-6">
     <%= link_to "Employee Meeee", pages_employee_path %>
   </div>
   <div class="col-md-6">
     <%= link_to "Employer Meeee", pages_employer_path , class:"text-center"%>
   </div>
  </div> 
<% end %>
